
<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("str_jadwal_shift/new", "Create str_jadwal_shift")) ?>
</div>

<?php echo $this->tag->form(array("str_jadwal_shift/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_jadwal_shift</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="nama">Nama</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("nama", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="mulai">Mulai</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("mulai", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="str_mulai">Str Of Mulai</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("str_mulai", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="selesai">Selesai</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("selesai", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="str_selesai">Str Of Selesai</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("str_selesai", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
