<?php $this->partial("layouts/admin_layout/header"); ?>
<script>
    function goToList() {
        location.href = "<?php p_base_url();?>/<?php echo $model['url_list'];?>";
    }
</script>

<div class="card-panel">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text">
                    <label for="first_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn indigo waves-effect waves-light right" type="button" onclick="goToList();" name="action">Batal
                            <i class="mdi-content-backspace right"></i>
                        </button>
                        <button class="btn indigo waves-effect waves-light right" type="submit" name="action"><?php echo $model['labelSubmit']; ?>
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<?php $this->partial("layouts/admin_layout/footer"); ?>
