
<?php echo $this->getContent(); ?>

<?php echo $this->tag->form("str_jadwal_tipe/save") ?>

<table width="100%">
    <tr>
        <td align="left"><?php echo $this->tag->linkTo(array("str_jadwal_tipe", "Back")) ?></td>
        <td align="right"><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

<div align="center">
    <h1>Edit str_jadwal_tipe</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="nama">Nama</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("nama", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jml_jantan">Jml Of Jantan</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jml_jantan", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jml_betina">Jml Of Betina</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jml_betina", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td><?php echo $this->tag->hiddenField("id") ?></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
