<?php $this->partial("layouts/admin_layout/header"); ?>
<script>
    $(document).ready(function () {
        $('#menu_dashboard').attr('class', 'active open');
        $('#sub_menu_kegiatan').attr('class', 'active open');
    });
</script>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <?php $this->partial("layouts/admin_layout/content_breadcrumb", ["isDashboard"=>false, "myPage"=>$pageName]); ?>
    </ul>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">King's Archery Kegiatan</span>
                    <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-clip</pre> to your <pre class="mt-code">.ribbon</pre> and <pre class="mt-code">.ribbon-sub</pre> element to add a bookmark tail. Please note that this option does work with Vertical
                        ribbons </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase">
                                <div class="ribbon-sub ribbon-clip"></div> TC ATLET </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                            <span class="help-block"> <a href="" target="_blank"> Read more... </a></span>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                <div class="ribbon-sub ribbon-clip"></div> PRA PON </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                            <span class="help-block"> <a href="" target="_blank"> Read more... </a></span>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
                                <div class="ribbon-sub ribbon-clip"></div> PRA PON </div>
                            <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                            <span class="help-block"> <a href="" target="_blank"> Read more... </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE HEADER-->
<?php $this->partial("layouts/admin_layout/footer"); ?>
