<?php
$prodImgList = array("arr1.jpg", "arr2.jpg", "arr3.jpg", "arr4.jpg");
$prodImgList2 = array("cmp1.jpg", "cmp2.jpg", "cmp3.jpg", "cmp4.jpg");
$prodImgList3 = array("rec1.jpg", "rec2.jpg", "rec3.jpg", "rec4.jpg", "rec5.jpg", "rec6.jpg", "rec7.jpg");

$cat_1 = "arrows";
$cat_2 = "bow_compound";
$cat_3 = "bow_recurve";
?>

<div class="cbp-item <?php echo $cat_1; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[0]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_1; ?>&img_product=<?php echo $prodImgList[0]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[0]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Carbon Bowfire - Easton</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Rp. 1.200.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_2; ?> logos">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[0]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_2; ?>&img_product=<?php echo $prodImgList2[0]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[0]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Compound - Hoyt</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 15.000.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_1; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[1]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_1; ?>&img_product=<?php echo $prodImgList[1]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[1]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="To-Do Dashboard<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">X-27 - Easton</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 1.500.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_2; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[1]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_2; ?>&img_product=<?php echo $prodImgList2[1]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[1]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="Events and  More<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Compound - Hoyt</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 20.000.000</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?> bow_compound">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[0]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[0]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[0]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="WhereTO App<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Recurve - Hoyt</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 12.500.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?> bow_compound">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[1]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[1]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[1]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase"
                       data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Recurve - Hoyts</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 15.000.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_1; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[2]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_1; ?>&img_product=<?php echo $prodImgList[2]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[2]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">ARR 280 - Bohning</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 2.000.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[2]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[2]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[2]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Remind~Me More<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">SF Archery</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 1.850.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[6]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[6]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[6]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Remind~Me More<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">SF Archery</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 2.500.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_2; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[2]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_2; ?>&img_product=<?php echo $prodImgList2[2]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_2.'/'.$prodImgList2[2]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Workout Buddy<br>by Tiberiu Neamu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Recurve - Hoyt</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 1.500.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?> bow_compound">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[3]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[3]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[3]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Bills Bills Bills<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Compound - Hoyt</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Rp. 2.500.000,00</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?> logos">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[4]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[4]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[4]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Generic Apps<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Generic Apps</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Logo</div>
</div>
<div class="cbp-item <?php echo $cat_3; ?> logos">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[5]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail?cat_product=<?php echo $cat_3; ?>&img_product=<?php echo $prodImgList3[5]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase"
                       rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_3.'/'.$prodImgList3[5]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Generic Apps<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Generic Apps</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Logo</div>
</div>
<div class="cbp-item <?php echo $cat_1; ?>">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[3]; ?>" alt=""> </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2?cat_product=<?php echo $cat_1; ?>&img_product=<?php echo $prodImgList[3]; ?>"
                       class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                    <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_1.'/'.$prodImgList[2]; ?>"
                       class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase"
                       data-title="Speed Detector<br>by Cosmin Capitanu">view larger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center">Speed Detector</div>
    <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
</div>