
<?php echo $this->tag->form("str_jadwal_detil/create") ?>

<table width="100%">
    <tr>
        <td align="left"><?php echo $this->tag->linkTo(array("str_jadwal_detil", "Go Back")) ?></td>
        <td align="right"><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

<?php echo $this->getContent(); ?>

<div align="center">
    <h1>Create str_jadwal_detil</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_jadwal">Id Of Jadwal</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_jadwal", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_jadwal_shift">Id Of Jadwal Of Shift</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_jadwal_shift", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="betina_kuota">Betina Of Kuota</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("betina_kuota", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="betina_sisa_kuota">Betina Of Sisa Of Kuota</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("betina_sisa_kuota", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jantan_kuota">Jantan Of Kuota</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jantan_kuota", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jantan_sisa_kuota">Jantan Of Sisa Of Kuota</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jantan_sisa_kuota", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="tot_kuota">Tot Of Kuota</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("tot_kuota", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="tot_sisa">Tot Of Sisa</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("tot_sisa", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
