<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_jadwal_detil/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_jadwal_detil/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Of Jadwal</th>
            <th>Id Of Jadwal Of Shift</th>
            <th>Betina Of Kuota</th>
            <th>Betina Of Sisa Of Kuota</th>
            <th>Jantan Of Kuota</th>
            <th>Jantan Of Sisa Of Kuota</th>
            <th>Tot Of Kuota</th>
            <th>Tot Of Sisa</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_jadwal_detil) { ?>
        <tr>
            <td><?php echo $str_jadwal_detil->id ?></td>
            <td><?php echo $str_jadwal_detil->id_jadwal ?></td>
            <td><?php echo $str_jadwal_detil->id_jadwal_shift ?></td>
            <td><?php echo $str_jadwal_detil->betina_kuota ?></td>
            <td><?php echo $str_jadwal_detil->betina_sisa_kuota ?></td>
            <td><?php echo $str_jadwal_detil->jantan_kuota ?></td>
            <td><?php echo $str_jadwal_detil->jantan_sisa_kuota ?></td>
            <td><?php echo $str_jadwal_detil->tot_kuota ?></td>
            <td><?php echo $str_jadwal_detil->tot_sisa ?></td>
            <td><?php echo $str_jadwal_detil->date_created ?></td>
            <td><?php echo $str_jadwal_detil->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_detil/edit/" . $str_jadwal_detil->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_detil/delete/" . $str_jadwal_detil->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_jadwal_detil/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_detil/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_detil/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_detil/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
