<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_registrasi/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_registrasi/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Of Acc</th>
            <th>Id Of Jadwal</th>
            <th>No Of Reg</th>
            <th>Qrcode</th>
            <th>Sts Of Bayar</th>
            <th>Sts Of Aktif</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_registrasi) { ?>
        <tr>
            <td><?php echo $str_registrasi->id ?></td>
            <td><?php echo $str_registrasi->id_acc ?></td>
            <td><?php echo $str_registrasi->id_jadwal ?></td>
            <td><?php echo $str_registrasi->no_reg ?></td>
            <td><?php echo $str_registrasi->qrcode ?></td>
            <td><?php echo $str_registrasi->sts_bayar ?></td>
            <td><?php echo $str_registrasi->sts_aktif ?></td>
            <td><?php echo $str_registrasi->date_created ?></td>
            <td><?php echo $str_registrasi->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_registrasi/edit/" . $str_registrasi->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_registrasi/delete/" . $str_registrasi->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_registrasi/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_registrasi/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_registrasi/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_registrasi/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
