
<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("str_data_kucing/new", "Create str_data_kucing")) ?>
</div>

<?php echo $this->tag->form(array("str_data_kucing/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_data_kucing</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_user">Id Of User</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_user", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="nama">Nama</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("nama", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jns_kucing">Jns Of Kucing</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jns_kucing", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jns_kelamin">Jns Of Kelamin</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jns_kelamin", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jumlah">Jumlah</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jumlah", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="deskripsi">Deskripsi</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("deskripsi", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_updated">Date Of Updated</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_updated", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
