<?php $this->partial("layouts/front_layout/header_login"); ?>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset">
                <div id="bg" class="login-bg" style="background-image:url(../metronic/assets/pages/img/login/bg1.jpg)">
                    <img class="login-logo" src="<?php p_assets_url(); ?>/metronic/assets/pages/img/login/logo.png" /> </div>
            </div>
            <div class="col-md-6 login-container bs-reset">
                <div class="login-content">
                    <h1>Kings Archery Admin Login</h1>
                    <p> Specialist for archery Equipments. </p>
                    <form class="login-form" id="formLogin" action="<?php echo $action; ?>" method="post">
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix"
                                       type="text" autocomplete="off" placeholder="Username" id="username" name="username" required/> </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix"
                                       type="password" autocomplete="off" placeholder="Password" id="password" name="password" required/> </div>
                        </div>
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>Enter any username and password. </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="rem-password">
                                    <p>Remember Me
                                        <input type="checkbox" class="rem-checkbox" />
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-8 text-right">
                                <div class="forgot-password">
                                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                                </div>
                                <button class="btn blue" type="button" onclick="submitFormLogin()">Sign In</button>
                            </div>
                        </div>
                    </form>
                    <!-- BEGIN FORGOT PASSWORD FORM -->
                    <form class="forget-form" action="javascript:;" method="post">
                        <h3 class="font-green">Forgot Password ?</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                        <div class="form-actions">
                            <button type="button" id="back-btn" class="btn grey btn-default">Back</button>
                            <button type="button" class="btn blue btn-success uppercase pull-right">Submit</button>
                        </div>
                    </form>
                    <!-- END FORGOT PASSWORD FORM -->
                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-4 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-8 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; Keenthemes 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#password').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                submitFormLogin();
            }
        });
        var validateLogin = {
            rules: {
                username: {required: true},
                password: {required: true}
            },
            messages: {
                username: {required: "Please enter a Username"},
                password: {required: "Please enter a password"}
            }
        }

        var optionsForm = {
            dataType: 'json',
            beforeSubmit: showRequest,
            success: showResponse
        }

        function showRequest(formData, jqForm, options) {
            return true;
        }

        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoDashboard();
            } else {
                showModalInfo(response.message);
                $('#formMessage').fadeOut(500, function () {
                    $(this).text(response.message).fadeIn(500);
                });
            }
        }

        function gotoDashboard() {
            location.href = "<?php p_base_url();?>/<?php echo $success_url;?>";
        }

        function submitFormLogin() {
            $("#formLogin").validate(validateLogin);
            $('#formLogin').ajaxForm(optionsForm);
            $('#formLogin').submit();
        }
    </script>
<?php $this->partial("layouts/front_layout/footer_login"); ?>