<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("admin/str_role/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("admin/str_role/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Kode Of Role</th>
            <th>Date Of Created</th>
            <th>Date Of Updated</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_role) { ?>
        <tr>
            <td><?php echo $str_role->id ?></td>
            <td><?php echo $str_role->nama ?></td>
            <td><?php echo $str_role->kode_role ?></td>
            <td><?php echo $str_role->date_created ?></td>
            <td><?php echo $str_role->date_updated ?></td>
            <td><?php echo $this->tag->linkTo(array("admin/str_role/edit/" . $str_role->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("admin/str_role/delete/" . $str_role->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("admin/str_role/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("admin/str_role/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("admin/str_role/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("admin/str_role/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
