<div class="btn-group pull-right">
    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="#">
                <i class="icon-bell"></i> Action</a>
        </li>
        <li>
            <a href="#">
                <i class="icon-shield"></i> Another action</a>
        </li>
        <li>
            <a href="#">
                <i class="icon-user"></i> Something else here</a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="#">
                <i class="icon-bag"></i> Separated link</a>
        </li>
    </ul>
</div>