</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy; Kings Archery Sport.
        <a href="http://www.kingsarcherysport.com"
           title="Find your Archery Equipment" target="_blank">Buy Your Equipment Now!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/respond.min.js"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/excanvas.min.js"></script>

<!-- 01. BEGIN CORE PLUGINS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- 02. BEGIN PAGE LEVEL PLUGINS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js" type="text/javascript"></script>
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/scripts/datatable.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>-->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<!--<script src="<?php /*p_assets_url(); */?>/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>-->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>-->
<!--<script src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>-->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jcrop/js/jquery.color.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jcrop/js/jquery.Jcrop.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/portfolio-1.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/form-image-crop.min.js" type="text/javascript"></script>
<link href="<?php p_assets_url(); ?>/metronic/assets/pages/css/image-crop.min.css" rel="stylesheet" type="text/css"/>
<link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<!-- 03. BEGIN THEME GLOBAL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END BEGIN THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/form-fileupload.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- 05. BEGIN THEME LAYOUT SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


</body>

</html>