<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Kings Archery | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="<?php /*p_assets_url(); */?>/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="<?php /*p_assets_url(); */?>/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"/>-->
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/pages/css/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/pages/css/image-crop.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="<?php /*p_assets_url(); */ ?>/metronic/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />-->
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="<?php /*p_assets_url();*/?>/metronic/assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />-->
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/css/themes/dark.min.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->

    <!--START JQUERY INCLUDE-->
    <script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.min.js"></script>
    <!--END JQUERY INCLUDE-->

    <link rel="shortcut icon" href="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/img/favicon.ico"/>
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md page-sidebar-closed">
<!--<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">-->
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="<?php p_assets_url() ?>/admin/dashboard/index">
                    <img src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/img/logo-default.png"
                         alt="logo" class="logo-default"/> </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->
            <div class="page-actions">
                <div class="btn-group">
                    <?php /*$this->partial("layouts/admin_layout/header_dropdown_menu"); */?>
                </div>
            </div>
            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top"
                 style="background: url(<?php p_assets_url() ?>/metronic/assets/layouts/layout2/img/header_background.jpg)">
                <img src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/img/tag.png" alt="logo" class="logo-default" style="padding-top: 5px;" />
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <?php $this->partial("layouts/admin_layout/header_search"); ?>
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <?php $this->partial("layouts/admin_layout/header_top_right_menu"); ?>
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <?php $this->partial("layouts/admin_layout/header_sidemenu"); ?>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title"> Best Archery Equipment Partner
                    <small>| Find your Archery Equipment Now</small>
                </h3>