<li id="menu_dashboard" class="nav-item start">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Dashboard</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li id="sub_menu_produk" class="nav-item start ">
            <a href="<?php p_base_url() ?>/admin/dashboard/loadProduk" class="nav-link ">
                <i class="icon-bar-chart"></i>
                <span class="title">Produk</span>
                <span class="selected"></span>
            </a>
        </li>
        <li id="sub_menu_kegiatan" class="nav-item start ">
            <a href="<?php p_base_url() ?>/admin/dashboard/loadKegiatan" class="nav-link ">
                <i class="icon-bulb"></i>
                <span class="title">Kegiatan</span>
            </a>
        </li>
    </ul>
</li>