<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("str_user/new", "Create str_user")) ?>
</div>

<?php echo $this->tag->form(array("str_user/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_user</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="full_name">Full Of Name</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("full_name", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>