
<!-- jQuery Library -->
<script src="<?php p_assets_url(); ?>/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.form.min.js"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.validate.js"></script>

<!--[if lt IE 9]>
<script src="../metronic/assets/global/plugins/respond.min.js"></script>
<script src="../metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<!--<script src="<?php /*p_assets_url(); */?>/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>-->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>